ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border: 1px solid #1890ff;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  li.selected {
    background-color: #e6f7ff;
    border-color: #40a9ff;
  }
  